- form_for @trip do |form|
  = form.hidden_field :user_id,     :as => :hidden, :value => current_user.id
  = form.hidden_field :unit_id,     :as => :hidden, :value => Unit.find(:first).id
  %tr.trip-form
    %td= form.collection_select :destination_id, Destination.all, :id, :name
    %td= form.collection_select :mode_id, Mode.all, :id, :name
    %td= form.text_field :distance
    %td= form.text_field :made_at, :value => Time.now.strftime("%m/%d/%Y"), :class => 'datepicker'
    %td= form.submit 'Log this trip!'
