= "Hello #{@invited},"
= "#{@user} is driving less with the drive less challange and wants you to join! Signup ad #{new_account_url}"
= @body
Welcome to the Drive Less Challenge!

Cheers,
The Drive Less Challenge Team
