- title "Home (#{@user.username})"

%p
  Welcome,
  = h @user.username
  !
- unless @user.baseline.green_miles
  %p
    = link_to "Fill out your baseline!", edit_baseline_path(@user.baseline)

= render :partial => 'trips/form'
= render :partial => 'trips/trip', :collection => @user.trips.find(:all, :order => 'created_at DESC')