- form_for [:account, @group] do |form|
  - render :layout => 'shared/tip' do
    %p It may be helpful to name your group with a geographic center, such as "1st Bank on Embarcadero" or "Fire Department of Palo Alto".
  = form.error_messages
  %p
    = form.label :name, "Group Name"
    = form.text_field :name
  %p
    = form.label :destination_id, "Type of Group"
    = form.select :destination_id, options_from_collection_for_select(Destination.all, 'id', 'name', :selected => @group.destination_id)
  %p
    = form.label :description, "Group Description"
    %br
    = form.text_area :description
  %p
    = check_box_tag :not_member
    = label_tag :not_member, "Don't include me as a member"
  %p
    = form.submit

