- form_for @group do |form|
  = form.hidden_field :owner_id, :value => current_user.id
  %p
    = form.label :name
    = form.text_field :name
  %p
    = form.label :destination_id
    = form.select :destination_id, options_from_collection_for_select(@destinations, 'id', 'name', :selected => @group.destination_id)
  %p
    = form.label :description
    = form.text_area :description
  %p
    = form.submit

