- title "My Groups"

- if @owned_groups.total_entries > 0
  .group-grouping
    %h2 Groups I Created
    %h5= page_entries_info @owned_groups

    - @owned_groups.each do |group|
      .leaderboard
        .user= link_to group.name, group
        .miles= h pluralize group.green_miles, "mile"
        .co2-saved
          = group.lb_co2_saved
          lb co2 saved
        .details
          .members= h pluralize group.memberships.count, "member"
          .type
            Type:
            = group.destination.name

- if @memberships.total_entries > 0
  .group-grouping
    %h2 Groups I Belong To
    %h5= page_entries_info @memberships
    - @memberships.each do |membership|
      .leaderboard
        .user= link_to membership.group.name, membership.group
        .miles= h pluralize membership.group.green_miles, "mile"
        .co2-saved
          = membership.group.lb_co2_saved
          lb co2 saved
        .details
          .members= h pluralize membership.group.memberships.count, "member"
          .type
            Type:
            = membership.group.destination.name

= link_to 'Show All Groups', groups_path

or

= link_to "Create a New Group", new_account_group_url

