- title "My Groups"

= link_to "Create a New Group", new_account_group_url

%h4 My Groups
%h5= page_entries_info @owned_groups

%table
  %thead
    %th Name
    %th Destination
    %th Members
    %th Delete?
  - @owned_groups.each do |group|
    %tr
      %td= link_to group.name, edit_account_group_path(group)
      %td= group.destination.name
      %td= group.memberships.count
      %td= link_to 'x', [:account, group], :confirm => 'Are you sure?', :method => :delete

%h4 Groups I Belong
%h5= page_entries_info @memberships

%table
  %thead
    %th Name
    %th Destination
    %th Members
    %th Action
    - @memberships.each do |membership|
      %tr
        %td= membership.group.name
        %td= membership.group.destination.name
        %td= membership.group.memberships.count
        %td= link_to 'leave', membership, :confirm => 'Are you sure?', :method => :delete

= link_to 'Show All Groups', groups_path
