- title "My Groups"

= link_to "Create a New Group", new_group_url

%h5= page_entries_info @groups

%table
  %thead
    %th Name
    %th Destination
    %th Members
    %th Delete?
  - @groups.each do |group|
    %tr
      %td= link_to group.name, :action => 'edit', :id => group
      %td= group.destination.name
      %td
      %td= link_to 'x', { :action => 'destroy', :id => group }, :confirm => 'Are you sure?', :method => :delete

= link_to 'Show All Groups', :action => 'show'
