- title "#{@group.name} Group"

.in-page-badges= render :partial => 'shared/community_badges', :locals => {:community => @group}
%h1= "Group: Challenge for #{@group.name.camelcase}"

= render :partial => 'shared/leaderboard_filter_form'

%h3 Leading Participants by Green Miles

= render :partial => 'shared/leaderboard', :locals => {:items => @members_leaderboard, :group => false, :friendship => false }

-#- @group.users.by_green_miles.each do |user|
-#  .leaderboard
-#    .user
-#      =link_to user.username, user
-#    .miles= h pluralize user.green_miles, "mile"
-#    .co2-saved
-#      = user.lb_co2_saved
-#      lb co2 saved
-#    .friendship= link_to_friendship_action(user)

%h3 All Members
%p= @group.users.map{|u| link_to u.username, u}.join(", ")