- title "Edit Profile"

%h1
  Edit My Profile

- if @user.zip == 'Replace me!' && @user.facebook_uid
  = render :layout => 'shared/tip' do
    %p You have logged in with Facebook and your profile has temporary information for some fields. Please fill them in correctly!
= form_for @user, :url => account_path do |f|
  - unless @user.has_complete_profile?
    = render :layout => 'shared/tip' do
      %p It looks like your profile is incomplete. Fill in the form below.
  = f.error_messages
  = render :partial => "form", :object => f, :locals => {:f => f, :submit_button_label => 'Update', :show_password => false}

%fieldset.outline
  %legend Your Linked Accounts
  - current_user.authentications.each do |authentication|
    .authentications
      = authentication.provider.capitalize
      = link_to "Remove", authentication, :method => :delete

  %br

  - if !current_user.authentications.find_by_provider('facebook')
    = link_to "Connect to Facebook", "/auth/facebook"
%br
