- title @user.username

- if @user == current_user
  = render :partial => 'users/step_by_step' if !current_user.has_completed_workflow?

  %h1
    %a{:name => 'trip-entry'} Log a new trip
  - if current_user.has_completed_workflow?
    - render :layout => 'shared/tip' do
      %p Please log all the trips you take during the drive less challenge, including driving alone.  This will help us all understand the role of green travel compared to solo driving.
- else
  %h1 #{@user.username}'s Profile
  .in-page-badges= render :partial => 'shared/user_badges', :locals => {:user => @user, :name => nil}
  .clear
  %p= link_to 'Send a Message!', new_message_url( :recipient => @user.id ), :class => 'button'

= render :partial => 'trips/stream'
