%ol
  = link_to_nav "Log a trip!",  account_path
  = link_to_nav "Your Baseline", edit_baseline_path(current_user.baseline)
  = link_to_nav "My Groups", groups_path
  = link_to_nav "Settings", edit_account_path
  = link_to_nav "Logout", logout_path
