
.openid
  %div
    - render :layout => 'shared/info' do
      %p OpenID lets you log into Drive Less Challenge using one of your existing accounts on AOL Instant Messenger, Wordpress, Blogger, LiveJournal, and more. That way you don't have to remember a password on this site. Nice!
      %p Click on the icons below to select the service you'd like to authenticate with. If you aren't sure right now, you can use a password by clicking the button above.
    %ul.providers
      %li.openid{ :title => "OpenID" }
        = image_tag "openid/openidW.png", :alt => "icon"
        %span
          %strong http://{your-openid-url}
      %li.username{ :title => "AOL screen name" }
        = image_tag "openid/aolW.png", :alt => "icon"
        %span
          http://openid.aol.com/
          %strong username
      %li.username{ :title => "MyOpenID user name" }
        = image_tag "openid/myopenid.png", :alt => "icon"
        %span
          http://
          %strong username
          \.myopenid.com/
      %li.username{ :title => "Flickr user name" }
        = image_tag "openid/flickr.png", :alt => "icon"
        %span
          http://flickr.com/photos/
          %strong username
          \/
      %li.username{ :title => "Technorati user name" }
        = image_tag "openid/technorati.png", :alt => "icon"
        %span
          http://technorati.com/people/technorati/
          %strong username
          \/
      %li.username{ :title => "Wordpress blog name" }
        = image_tag "openid/wordpress.png", :alt => "icon"
        %span
          http://
          %strong username
          \.wordpress.com
      %li.username{ :title => "Blogger blog name" }
        = image_tag "openid/blogger.png", :alt => "icon"
        %span
          http://
          %strong username
          \.blogspot.com/
      %li.username{ :title => "LiveJournal blog name" }
        = image_tag "openid/livejournal.png", :alt => "icon"
        %span
          http://
          %strong username
          \.livejournal.com
      %li.username{ :title => "ClaimID user name" }
        = image_tag "openid/claimid.png", :alt => "icon"
        %span
          http://claimid.com/
          %strong username
      %li.username{ :title => "Vidoop user name" }
        = image_tag "openid/vidoop.png", :alt => "icon"
        %span
          http://
          %strong username
          \.myvidoop.com/
      %li.username{ :title => "Verisign user name" }
        = image_tag "openid/verisign.png", :alt => "icon"
        %span
          http://
          %strong username
          \.pip.verisignlabs.com/
  %fieldset
    %label{ :for => "openid_username" }
      Enter your
      %span Provider user name
    %div
      %span &nbsp;
      %input{ :name => "openid_username", :type => "text" }
      %span &nbsp;
      %input{ :type => "submit", :value => "Login" }
  %fieldset
    %label{ :for => "openid_identifier" }
      Enter your
      %a.openid_logo{ :href => "http://openid.net" } OpenID
    %div
      %input{ :id => 'openid_identifier', :name => "#{model}[openid_identifier]", :type => "text" }
      %input{ :type => "submit", :value => submit_button_label }
