%tr
  %td
    = mode
  - if user.nil?
    %td{:colspan => 7}
      no winner
  - else
    %td= link_to user.name, user
    %td= description
    %td.address= "#{user.address}, #{user.city}"
    %td= user.days_logged
    %td= mail_to user.email
    %td= user.username
    %td= "parent" if user.is_parent?
