<div class="results">
  <p>Most Green Miles for All Users by Mode of Transporation:</p>
<ul>
  <% @green_mode_results.each do |result| %>
    <li><%= "#{result[:name]}:" %>
      <% if result[:user].nil? %>
          <p>no winner</p>
      <% else %>
          <ul>
         <li><%= link_to result[:user].name, result[:user]  %></li>
         <li><%= result[:user].address %></li>
         <li><%= result[:user].city %></li>
         <li><%= result[:user].email %>   </li>
        </ul>
          <div class="clear"/>

      <ul>
             <li><%= "#{result[:user].trips.count} trips, #{result[:total_miles]} miles" %></li>
            <li>###</li>
        <li><%=  result[:user].username %> </li>
        <li><%= "parent" if result[:user].is_parent %></li>
      </ul>
       <% end %>
    </li>
  <% end %>
</ul>
</div>