- content_for :head do
  = stylesheet_link_tag 'compiled/results.css'

.results
  - @categories.each do |category|
    %h1= category[:description]
    %table
      %thead
        %tr
          %th
            Mode
          %th
            Name
          %th
            Description
          %th.address
            Address
          %th
            Days logged
          %th
            Email
          %th
            Username
          %th
            Parent?
      %tbody
        - category[:results].each do |result_set|
          %tr.result_type
            %td= result_set[0][:name] 
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            - result_set.each do |result|
              = render :partial => "result", :locals => { :mode => result[:name], :user => result[:user], :description => ("#{result[:user].trips.count} trips, #{result[:total_miles]} miles" unless result[:user].nil?) }
