- content_for :head do
  = stylesheet_link_tag 'compiled/results.css'

.download-csv
  = button_to "Download Individual Report", results_csv_path
  = button_to "Download Groups Report", group_results_csv_path
  = button_to "Download Parent Individual Report", parent_results_csv_path

%hr
.results
  - @categories.each do |category|
    %h1= category[:description]
    %table
      %thead
        %tr
          %th.mode
            Mode
          %th.name
            Name
          %th.description
            Description
          %th.address
            Address
          %th.days_logged
            Days logged
          %th.email
            Email
          %th.username
            Username
          %th.parent
            Parent?
      %tbody
        - category[:results].each do |result_set|
          %tr.result_type
            %td= result_set[0][:name] 
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            - result_set.each do |result|
              = render :partial => "result", :locals => { :mode => result[:name], :user => result[:user], :description => result[:description] }
