
<ul>
  <% @green_mode_results.each do |result| %>
    <li><%= "Most Green Miles - #{result[:name]}" %>
      <% if result[:user].nil? %>
          <p>no winner</p>
      <% else %>
      <ul>
             <li><%= result[:user].trips.count %></li>
             <li>   <%= result[:total_miles] %></li>
            <li>###</li>
            <li><%= link_to result[:user].username, result[:user] %> </li>
            <li><%= result[:user].name %></li>
            <li><%= result[:user].address %></li>
            <li><%= result[:user].city %></li>
            <li><%= result[:user].email %>   </li>
            <li><%= result[:user].is_parent %></li>
        </ul>
       <% end %>     
    </li>
  <% end %>
</ul>