- title "Send an Invite"

%h1 Send an Invite

%p
- form_for @invitation do |f|
  = f.error_messages
  %p
    = f.label :name, "Your friend's name"
    %br
    = f.text_field :name
  %p
    = f.label :email, "Your friend's email address"
    %br
    = f.text_field :email
  - render :layout => 'shared/tip' do
    %p Your invitation will have instructions and a link so your friend can sign up and participate in the Drive Less Challenge. You can add a personal message to encourage your friend. Enter it below!
  = f.label :invitation, "Your Personal Message"
  %p
    = f.text_area :invitation, :rows => 5
  = submit_tag "Send the invitation"
