- title "Login"
%fieldset.outline
  %legend Login
  .auth
    .password
      = link_to image_tag("facebook.png", :class =>'facebook-connect'), "/auth/facebook"
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'plain outline'}) do |f|
        %p
        = render :layout => 'shared/tip' do
          %p
            If you don't have an account
          %p
            = link_to 'Signup now!', register_path, :class => 'button small'
        %p
          = f.label :email
          %br
          = f.email_field :email
        %p
          = f.label :password
          %br
          = f.password_field :password

        - if devise_mapping.rememberable?
          %p
            = f.check_box :remember_me
            = f.label :remember_me
        %p
          = f.submit "Login"
      %p
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          = link_to "Forgot your password?", new_password_path(resource_name), :class => 'button small'

