- semantic_form_for @baseline_trips do |form|
  - form.inputs do
    = form.input :baseline_id, :label => 'Baseline'
    = form.input :destination_id, :label => 'Destination'
    = form.input :unit_id, :label => 'Unit'
    = form.input :alone, :label => 'Alone'
    = form.input :green, :label => 'Green'
  - form.buttons do
    = form.commit_button 'Submit'
