- title "Baseline Trips"

%table
  %tr
    %th Baseline
    %th Destination
    %th Unit
    %th Alone
    %th Green
  - for baseline_trips in @baseline_trips
    %tr
      %td= h baseline_trips.baseline_id
      %td= h baseline_trips.destination_id
      %td= h baseline_trips.unit_id
      %td= h baseline_trips.alone
      %td= h baseline_trips.green
      %td= link_to 'Show', baseline_trips
      %td= link_to 'Edit', edit_baseline_trips_path(baseline_trips)
      %td= link_to 'Destroy', baseline_trips, :confirm => 'Are you sure?', :method => :delete

%p= will_paginate(@baseline_trips)
%p= link_to "New Baseline Trips", new_baseline_trips_path
