= "Hello #{@invitation.name},"
= "#{@user.name} is driving less with the Drive Less Challenge and wants you to join! Signup at http://my.drivelesschallenge.com#{new_user_registration_path}"
= @invitation.invitation
Welcome to the Drive Less Challenge!

Cheers,
The Drive Less Challenge Team

