!!! XHTML 1.1
%html
  %head
    %title= "Drive Less Challenge | " + h(yield(:title) || "Untitled")
    = stylesheet_link_tag 'compiled/grid.css',    :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css',    :media => 'screen, projection'
    = stylesheet_link_tag 'formtastic'
    = stylesheet_link_tag 'formtastic_changes'
    = stylesheet_link_tag 'compiled/application', :media => 'screen, projection'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'underscore-min.js', :defaults
    = yield :head
  %body
    #container
      .widget
        #com-drivelesschallenge-widget
          widget goes here
      .header
        %h1
          %div
          %span= h yield :title
      .navigation
        - if current_user
          = render :partial => 'shared/navigation'
        - else
          = render :partial => 'shared/public_navigation'
        = yield :navigation
      .main
        - flash.each do |name, msg|
          %div{:id => "#flash_#{name}", :class => '.flash'}= msg
        = yield
      .footer
        f