- @community ||= current_user.community

- render :layout => 'shared/info' do
  %p You have joined a geographic community that is participating in the challenge together. Check out your progress as a local community!

%h3= "Community: Challenge for #{@community.name.camelcase}"
= render :partial => 'shared/leaderboard_filter_form'

= render :partial => 'shared/leaderboard', :locals => { :items => @community_members_leaderboard, :group => false, :friendship => false }

= link_to 'Show All Communities', communities_url, :class => 'button'
