- title "Communities"

%p
  = link_to "new", new_community_path

%h2
  Active Communities

%table
  %thead
    %th Id
    %th Name
    %th State
    %th Country
    %th Description
    %th Delete
  - @communities.each do |community|
    %tr
      %td
        = link_to community.id, :action => 'edit', :id => community
      %td= community.name
      %td= community.state
      %td= community.country
      %td= community.description
      %td
        %strong
          = link_to 'x', { :action => 'destroy', :id => community }, :confirm => 'Are you sure?', :method => :delete


