- title "Community #{@community.name}"

%h1= "Community: Challenge for #{@community.name.camelcase}"


%h3 Leading Participants by Green Miles

- @community.users.by_green_miles.each do |user|
  .leaderboard
    .user= link_to user.username, user_path(user)
    .miles= h pluralize user.green_miles, "mile"
    .co2-saved
      = user.lb_co2_saved
      lb co2 saved
    .details
      .friendship= link_to_friendship_action(user)
= link_to 'Show All Communities', communities_url
