- semantic_form_for @trip, :url => account_trips_path do |form|
  - form.inputs do
    = form.input :user_id,     :as => :hidden, :value => current_user.id
    = form.input :unit_id,     :as => :hidden, :value => Unit.find(:first).id
    = form.input :destination
    = form.input :mode
    = form.input :distance
  - form.buttons do
    = form.commit_button 'Submit'
