%h2 How green is your travel now?
- render :layout => 'shared/tip' do
  %p
    Tell us how you usually travel, so we can measure the amount of change!
    %b Estimate the miles you travel
    for each of the categories&nbsp;
    %b> in a typical week.
  %p
    Filling out this baseline can make you eligible for special prizes!

- semantic_form_for @baseline do |form|
  .baseline-travel.head
    %ol
      %li Destination
      %li Miles Driving alone
      %li Green Miles (carpool, walk, bike, transit)
      %li Your Green Travel
  = render :partial => 'form_baseline_section', :locals => {:form => form, :name => :work,    :title => "Work"}
  = render :partial => 'form_baseline_section', :locals => {:form => form, :name => :school,  :title => "School"}
  = render :partial => 'form_baseline_section', :locals => {:form => form, :name => :kids,    :title => "Kids"}
  = render :partial => 'form_baseline_section', :locals => {:form => form, :name => :errands, :title => "Errands & Other"}
  = render :partial => 'form_baseline_section', :locals => {:form => form, :name => :faith,   :title => "Faith community"}
  = render :partial => 'form_baseline_section', :locals => {:form => form, :name => :social,  :title => "Social/Civic/Fun"}
  .baseline-travel.foot
    %ol
      %li Total
      %li.total-miles
      %li.total-green
      %li.total-percent
        %span.number
        %span.symbol %
  %h3 What is your goal for the Drive Less Challenge?
  .baseline-travel.head
    %ol
      %li 
        Total Combined
        %br
        Mileage in a Week
      %li
        Total Miles Driving
        %br
        Alone In a Car
      %li Total Green Miles
      %li Green Travel Goal
  - form.inputs :class => 'baseline-travel' do
    %li.total-combined-miles ...
    = form.input :total_miles, :label => false, :input_html => {:class => 'goal-total'}
    = form.input :green_miles, :label => false, :input_html => {:class => 'goal-green'}
    %li.line-percent
      %span.number
      %span.symbol %
  = form.buttons
