- title "Login"
%fieldset.outline
  %legend Login
  .auth
    .password
      - form_for @user_session, :html => {:class => 'plain'} do |f|
        = f.error_messages
        %p
        - render :layout => 'shared/tip' do
          %p
            If you don't have an account yet,
            = link_to 'Signup now!', register_path, :class => 'button small'
        %p
          = f.label :username, "Nickname"
          %br
          = f.text_field :username
        %p
          = f.label :password
          %br
          = f.password_field :password
          = link_to 'Forgot your nickname or password?', password_resets_url, :class => 'button small'
        %p
          = f.submit "Login"
