- title "Login"
- render :layout => 'shared/tip' do
  %p
    If you don't have an account with the Drive Less Challenge,
    = link_to "create one now!", register_path
/ = authlogic_facebook_login_button
- form_for @user_session do |f|
  = f.error_messages
  %h2
    Login using
    %a{:class => 'button activate-section', :href => '#auth-open_id'} Open ID
    or
    %a{:class => 'button inactive activate-section', :href => '#auth-password'} Username & Password

  .auth
    .password{:style => "display: none"}
      %p
        = f.label :username
        %br
        = f.text_field :username

      %p
        = f.label :password
        %br
        = f.password_field :password
      = link_to 'Forgot your password?', password_resets_url
      %p
        = f.submit "Login"
    .open_id
      = render :partial => 'shared/openid_identifier', :locals => {:submit_button_label => "Login", :model => "user_session"}

