- title "Login"
%fieldset.outline
  %legend Login
  .auth
    .password
      - form_for @user_session, :html => {:class => 'plain'} do |f|
        = f.error_messages
        %p
        - render :layout => 'shared/tip' do
          %p
            If you don't have an account yet or you have only pre-registered then
            = link_to 'Signup now!', register_path, :class => 'button small'
        %p
          = f.label :username, "Nickname"
          %br
          = f.text_field :username
        %p
          = f.label :password
          %br
          = f.password_field :password
          = link_to 'Forgot your password?', password_resets_url, :class => 'button small'
        %p
          = f.submit "Login"

%fieldset.outline
  %legend Login using An Account on Another Social Service
  .open_id
    - form_for @user_session do |f|
      = f.error_messages if @user_session.openid_identifier
      %p= link_to 'Signup now!', register_path, :class => 'button small'
      = render :partial => 'shared/openid_identifier', :locals => {:submit_button_label => "Login", :model => "user_session"}
