!!! XHTML 1.1
%html
  %head
    %title= "Drive Less Challenge | " + h(yield(:title) || "Untitled")
    =# stylesheet_link_tag 'base.css'
    = stylesheet_link_tag 'flick/jquery-ui-1.7.2.custom.css', :disabled_media => 'screen and (min-width:975px)'
    = stylesheet_link_tag '/jqtransform.css',                 :disabled_media => 'screen and (min-width:975px)'
    = stylesheet_link_tag 'compiled/grid.css',                :disabled_media => 'screen and (min-width:975px)'
    = stylesheet_link_tag 'compiled/text.css',                :disabled_media => 'screen and (min-width:975px)'
    = stylesheet_link_tag 'formtastic',                       :disabled_media => 'screen and (min-width:975px)'
    = stylesheet_link_tag 'formtastic_changes',               :disabled_media => 'screen and (min-width:975px)'
    = stylesheet_link_tag 'compiled/application',             :disabled_media => 'screen and (min-width:975px)'
    =# No ie8 support for media attr - event with the css.mediaquery stuff
    =# stylesheet_link_tag 'mobile.css',             :media => 'screen and (max-width:480px)'
    
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie7',    :media => 'screen and (min-width=1024px)'  
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js', 'jquery-ui-1.8.custom.min.js', 'jquery.color.js', 'underscore-min.js', 'jquery.openid.js', '/jquery.jqtransform.js', :defaults
    = javascript_include_tag 'google'
    = javascript_include_tag 'rails'
    = csrf_meta_tag
    
    = yield :head
  %body{:class => "section_#{controller.controller_name}"}
    .top
      .container
        .title
          %h1
            =link_to 'Drive Less Challenge', root_path
          %small
            =link_to 'Drive Less Challenge Website', 'http://drivelesschallenge.com'
        .header
          - if current_user
            = render :partial => 'shared/user_badges', :locals => {:user => current_user, :name => current_user.username}
    .mid
      .container
        .navigation
          - if current_user
            - if current_user.admin?
              = render :partial => 'shared/admin_navigation'
            = render :partial => 'shared/navigation'
          - else
            = render :partial => 'shared/public_navigation'
          = yield :navigation
        .main
          - flash.each do |name, msg|
            %div{:id => "flash_#{name}", :class => 'flash'}= msg
          = yield
    .bot
      .container
        .footer= render :partial => 'shared/footer'
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-16020541-1");
      pageTracker._trackPageview();
      } catch(err) {}
